/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   // Center brand
   .navbar-header {
      text-align: center;
      float: none;
      padding-top: 1em;
      .navbar-brand {
         float: none;
      }
   }
}

.navbar-arrow {
   @arrow-width: 64px;
   @arrow-height: 32px;
   position: relative;
   background: @navbar-default-bg;
   border: 1px solid @navbar-default-border;
   &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
   }
   &:before {
      border-top-color: @navbar-default-border;
      border-width: (@arrow-height + 1px) @arrow-width;
      margin-left: -@arrow-width - 1px;
   }
   &:after {
      border-top-color: @navbar-default-bg;
      border-width: @arrow-height @arrow-width;
      margin-left: -@arrow-width;
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
