/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
   background-image: url('../img/background-eagle.jpg');
   background-size: contain;
   background-position: 0 @navbar-height;
   background-repeat: no-repeat;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   border-bottom: none;
   .box-shadow(0 1px 30px rgba(255,255,255,0.4));
   .container {
      text-align: center;
      .navbar-header {
         float: none;
         display: inline-block;
         padding-top: 4em;
         color: white;
         text-transform: uppercase;

         .logo {
            margin-bottom: 1em;
            img {
               border-bottom: solid 1px @tyro-yellow;
               padding-bottom: 0.5em;
            }
         }

         .primary-header-content {
            .gt {
               font-size: 0.9em;
               vertical-align: top;
            }
            .gt, .baseline { color: @tyro-yellow; }
         }

         .secondary-header-content {
            text-align: left;
            font-size: @font-size-h4;
            .baseline-en { color: @tyro-yellow; }
            .hashtag { float: right; }
         }

         .resorts-content {
            position: relative;
            height: 10em;
            .resort {
               position: absolute;
               top: -3em;
               .logo { margin-bottom: 1em; }
               .social-networks {
                  white-space: nowrap;
                  a { text-decoration: none; }
               }
            }
            .valthorens { right: 110%; }
            .orelle { left: 110%; }
         }
      }
   }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
   clear: both;
   header { }
   time { }
   .post-thumbnail { .box-shadow(2px 2px 2px 0.5px #cfcfcf); }
   .entry-title a { color: white; }
   .entry-content { font-size: @font-size-large; text-align: justify; }
   footer { }
   #comments { display: none; }

   &.format-standard {
      .wp-post-image { width: 100%; }
      .entry-content { .content-columns(3); }
   }
   &.format-aside {
      .wp-post-image {
         width: 50%;
         float: left;
         margin-right: @grid-gutter-width;
      }
      .entry-content {
         .content-columns(2);
      }
   }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
